

body {
  background-color: rgb(116, 0, 184);
  color: white;
}

#codimg{
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 50%;
  border-radius: 15px ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
